/* footer */
.footer {
    background: linear-gradient(to right, #1a0033, #6a0dad);
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    margin-top: 40px;
  }

  .footer p {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .footer-links a {
    color: #ffccff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
  }

  .footer-links a:hover {
    color: #fff;
  }
  /* footer */
  